body {
  margin: auto;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  color: #404040;
  background-color: white;
  min-width: 1200px;
}

.container {
  width: 1180px;
  margin: 0 auto 0 auto;
}
/* вставить нужную картинку*/
header {
  background: url(img/header-bg.jpg) no-repeat center;
  background-size: cover;
  min-height: 490px;
}

.header-logo {
  background-color: saddlebrown;
  color: white;
  min-height: 600px;
  float: left;
  width: auto;
}

.header-logo img {
  padding: 35px 0 0 200px;
  position: absolute;
}

.main-nav {
  width: 800px;
  float: left;
  list-style: none;
  border-top: 1px solid #7b581e;
  border-bottom: 1px solid #7b581e;
  padding: 15px 0 15px 0;
  margin-left: 350px;
}

.main-nav li {
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
  margin: 50px 5px 0 50px;
  padding: 3px;
}

.main-nav a {
  color: #ffffff;
  text-decoration: none;
}

.main-nav a:hover {
  text-decoration: underline;
}

.main-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.promo {
  font-weight: bold;
  font-family: "Arial", serif;
  font-size: 70px;
  line-height: 70px;
  margin-top: 300px;
  text-align: center;
}

/*пиво романтик*/
.one {
}

/*пиво вахтер*/
.two {
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.benefits {
  padding: 50px 0 55px 0;
  background-color: #feca79;
  height: 300px;
}

.benefits ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.benefits-item {
  text-align: center;
  border-left: 1px solid #8d745a;
  padding-top: 70px;
  float: left;
  width: 280px;
  padding: 0 30px 0 50px;
}

.benefits-item:first-child {
  border-left: none;
}

.benefits-item p {
  font-size: 16px;
  text-align: left;
}

.benefits-title {
  font-family: "Arial", serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}
/*подставить нужные картинки*/
.benefits-choice {
  background: url(img/feature-1.png) no-repeat top center;
}
/*подставить нужные картинки*/
.benefits-quality {
  background: url(img/feature-2.png) no-repeat top center;
}
/*подставить нужные картинки*/
.benefits-safety {
  background: url(img/feature-3.png) no-repeat top center;
}

.section-title {
  font-size: 40px;
  text-transform: uppercase;
  margin: 60px 180px 60px 0;
  font-weight: bold;
  line-height: 50px;
}

.history dl {
  width: 520px;
  margin: 0;
  padding: 0;

}

.history dt {
  margin: 0;
  margin-bottom: 10px;
  position: relative;
  top: 0;
  right: -570px;
}

.history dd {
  margin: 0;
  font-size: 16px;
  position: relative;
}

.history dd img {
position: absolute;
top: 0;
right: -250px;
}

.history dd p {
  margin: 0;
}

.history-title {
  font-size: 20px;
  text-transform: uppercase;
}

.history-source {
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

.history-source a {
  color: #666666;
}

.assortment {
  padding-top: 70px;
  padding-bottom: 90px;
}

.price-list {
  width: 70%;
  border-collapse: collapse;
  line-height: 30px;
  margin: auto;
  margin-bottom: 50px;
}

.price-list th {
  font-weight: normal;
  text-align: left;
  font-size: 11px;
  text-transform: uppercase;
}

.price-list td {
  border-bottom: 1px solid #d1cccc;
}

.price-list th,
.price-list td {
  padding: 15px 10px;
}

.price-list .price-name {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
}

.price-list .price-name sup {
  font-size: 8px;
  background-color: #000000;
  color: #ffffff;
  padding: 3px;
  border-radius: 3px;
  margin-left: 20px;
}

.order {
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: #feca79;
}

.order-tip {
  font-size: 16px;
}

.form-group {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="phone"],
.form-group select,
.form-group textarea {
  font: inherit;
  color: inherit;
  border: 1px solid #e5b56d;
  background-color: #e5b56d;
  margin-top: 35px;
  height: 55px;
  width: 100%;
  padding: 9px 15px;
  box-sizing: border-box;
}

.form-group input[type="text"]:hover,
.form-group input[type="email"]:hover,
.form-group input[type="phone"]:hover,
.form-group select:hover,
.form-group textarea:hover {
  border-color: #bebebe;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group input[type="phone"]:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #8d745a;
}

.form-group-left-part {
  float: left;
  width: 290px;
  }

.form-group-right-part {
  float: right;
  width: 290px;
  }

.form-group textarea {
  display: block;
  min-height: 120px;
}

.checkbox-area {
  margin-bottom: 25px;
  padding: 25px 0 25px 17px;
  }

.checkbox-area input[type="checkbox"] {
  margin: 0;
  margin-right: 5px;
}

footer {
  margin-top: 0px;
  padding: 10px;
  background-color: #000000;
  color: #c3c3c3;
  padding-top: 45px;
  padding-bottom: 50px;
}

footer .social {
  float: left;
  width: 490px;
}

.footer-menu ul {
  list-style: none;
}

.footer-menu a {
  font-size: 16px;
  font-weight: bold;
  color: #c3c3c3;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-menu a:hover {
  color: #ffffff;
}

.footer-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.social,
.social-btn {
  color: #feca79;
}

.btn {
  display: inline-block;
  vertical-align: top;
  color: #824604;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #824604;
  padding: 10px;
  text-align: center;
  font: inherit;
  width: 150px;
}

.btn-quick-order {
  width: 100px;
  background-color: #824603;
  color: #FEFAFE;
}

.btn-quick-order:hover {
  color: #824603;
  border-color: white;
  background-color: white;
  }

.btn-order {
  width: 200px;
  background-color: #824603;
  color: #FEFAFE;
}