body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-family: "Arial", sans-serif;
  color: #9C7D50;
  background-color: white;
  width: 100%;
}

.container {
  margin: 0 auto 0 auto;
}

.section-title {
  font-size: 42px;
  text-transform: uppercase;
  margin: 100px 50px 60px 0;
  font-weight: bold;
  line-height: 50px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  color: #824604;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #824604;
  padding: 10px;
  text-align: center;
  font: inherit;
  width: 150px;
}

.header-logo {
  background: url(../img/header.jpg) no-repeat center;
  color: white;
  background-size: cover;
  min-height: 535px;
}

.header-logo img {
  padding: 35px 0 0 200px;
  position: absolute;
  top: 25px;
  left: 250px;
}

.main-nav {
  list-style: none;
  border-bottom: 1px solid #AA8A4D;
  width: 700px;
  margin-left: 600px;
}
.header-logo ul {
  padding-top: 55px;
  border-top: 1px solid #AA8A4D;
} 

.main-nav li {
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
  margin: 5px 5px 5px 50px;
  padding: 3px;
}

.main-nav a {
  color: #ffffff;
  text-decoration: none;
}

.main-nav a:hover {
  text-decoration: underline;
}

.main-nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.promo {
  font-weight: bold;
  font-family: "Arial", serif;
  font-size: 70px;
  line-height: 70px;
  margin-top: 145px;
  text-align: center;
}


.feature-item {
  display: flex;
}

.new-goods {
  display: flex;
}

.new-goods table {
  float: right;
  border-bottom: 1px solid #D7D7D7;
  padding: 20px;
  padding-left: 0;
}

table tr {
  text-align: left;
}

.new-goods p {
  font-size: 14px;
}

.new-goods img,
.new-goods h1  {
  margin-left: 50px;
}


.ingredients {
  position: relative;
  top: 80px;
  left: 250px;
  width: 130px;
  padding-top: 20px;
  padding-left: 5px;
}
.one {
  margin: 20px;
  border-left: 1px solid #D7D7D7;
  border-right: 1px solid #d7d7d7;
}

.two {
  border-right: 1px solid #d7d7d7;
}
.new-goods h1,
table {
  text-transform: uppercase;
  font-weight: 600;
}

.new-goods .btn {
  margin-top: 40px;
}

.feature-item .description {
 width: 300px;
 font-size: 16px;
 line-height: 35px;
 margin-left: 20px;
}

.buyng {
  display: flex;
}

.buyng p {
  font-weight: 600;
  margin-left: 55px;
  margin-top: 55px;
  margin-right: 30px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.benefits {
  display: flex;
  margin-top: 150px;
  padding: 50px 0 50px 0;
  background-color: #feca79;
  height: 320px;
}

.benefits ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.benefits-item {
  text-align: center;
  border-left: 1px solid #E6B56B;
  float: left;
  width: 300px;
  padding: 0 40px 0 40px;
  
}

.benefits-item:first-child {
  border-left: none;
}

.benefits-item p {
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  padding: 0 40px 0 40px;
}

.benefits-title {
  font-family: "Arial", serif;
  font-size: 22px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
  padding-left: 40px;
}

.benefits-choice {
  background: url(../img/preview-1.jpg) no-repeat top left;
  width: 100px;
  height: 100px;
  background-position-x: 30px;
}

.benefits-quality {
  background: url(../img/preview-2.jpg) no-repeat top left;
  width: 100px;
  height: 100px;
  background-position-x: 30px;
}

.benefits-safety {
  background: url(../img/preview-3.jpg) no-repeat top left;
  width: 100px;
  height: 100px; 
  background-position-x: 30px;
}

.history {
  display: flex;
  margin-right: 370px;
  margin-bottom: 80px;
}

.history-title {
  font-size: 22px;
  text-transform: uppercase;
}

.history dl {
  width: 520px;
  margin: 0;
  padding: 0;
}

.history dt {
  margin: 0;
  margin-bottom: 10px;
  position: relative;
  top: 0;
  right: -570px;
}

.history dd {
  margin: 0;
  font-size: 16px;
  position: relative;
}

.history dd img {
position: absolute;
top: 0;
right: -250px;
}

.history dd p {
  margin: 0;
  font-size: 18px;
  line-height: 35px;
  width: 550px;
  padding-top: 20x;
}

.history-source {
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

.history-source a {
  color: #666666;
}

.pressa {
  display: flex;
  background-color: #ECE4D7;
}
.pressa .section-title {
  margin-left: 140px;
}
.pressa p {
  font-size: 16px;
  line-height: 35px;
  padding-top: 30px;
  padding-left: 100px;
  height: 235px;
  width: 690px;
}

.pressa cite {
  text-transform: uppercase;
  padding-left: 510px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  position: relative;
  bottom: 90px;
}

.to-full-info {
  position: relative;
  bottom: 100px;
  left: -770px;
  color: #A59E94;
  border-color: #A59E94;
  font-weight: bold;
  padding: 15px;
}

.assortment {
  display: flex;
  padding-top: 20px;
  padding-bottom: 90px;
  height: 500px;
}

.assortment .section-title {
margin-right: 600px;
}
.price-list {
  width: 100%;
  border-collapse: collapse;
  line-height: 30px;
}

.price-list th {
  font-weight: normal;
  text-align: left;
  font-size: 11px;
  text-transform: uppercase;
  border-bottom: 1px solid #E4E4E4;
  color: #989898;
}

.price-list td {
  font-size: 16px;
  border-bottom: 1px solid #E4E4E4;
}

.price-list th,
.price-list td {
  padding: 18px 10px;
}

.price-list .price-name {
  font-weight: bold;
  color: #424242;
  text-transform: uppercase;
  font-size: 16px;
  width: 400px;
}

.price-list .price-name sup {
  font-size: 8px;
  background-color: #000000;
  color: #ffffff;
  padding: 3px;
  border-radius: 3px;
  margin-left: 20px;
}

.price-list .price {
  text-align: right;
}

.order {
  display: flex;
  background-color: #feca79;
  height: 1050px;
}

.order-tip {
  font-size: 16px;
  width: 700px;
}

.order .section-title {
  margin-left: 0;
  font-size: 40px;
}

.form-group {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  width: 600px;
  color: #9D7E50;
}

.form-group select {
  text-transform: uppercase;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select,
.form-group textarea {
  width: 600px;
  margin-left: 200px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.clearfix input[type="phone"],
.form-group select,
.form-group textarea {
  font-size: 16px;
  color: inherit;
  border: 1px solid #e5b56d;
  background-color: #e5b56d;
  height: 55px;
  padding: 9px 15px;
  box-sizing: border-box;
  width: 600px;
}

.form-group input[type="text"]:hover,
.form-group input[type="email"]:hover,
.clearfix input[type="phone"]:hover,
.form-group select:hover,
.form-group textarea:hover {
  border-color: #8d745a;
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.clearfix input[type="phone"]:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #8d745a;
}

.clearfix {
  display: flex;
  justify-content: space-around;
  color: #9D7E50;
  text-transform: uppercase;
  font-weight: 600;
}

::placeholder {
  color: #9C7D50;
}
.clearfix input[type="phone"] {
  width: 200px;
  margin-left: 75px;
  margin-top: 25px;
  color: #9D7E50;
}

.form-group textarea {
  display: block;
  min-height: 150px;
}

.checkbox-area {
  margin-bottom: 25px;
  padding: 25px 0 25px 17px;
  }

.checkbox-area input[type="checkbox"] {
  margin: 0;
  margin-right: 5px;
}

footer {
  display: flex;
  padding: 10px;
  background-color: #000000;
  color: #c3c3c3;
  padding-top: 45px;
  padding-bottom: 50px;
}

footer .social {
  width: 600px;
  margin-left: 250px;
}

.footer-menu ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.footer-menu li {
  width: 150px;
}

.footer-menu a {
  font-size: 16px;
  font-weight: bold;
  color: #c3c3c3;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-menu a:hover {
  color: #ffffff;
  border-bottom: 1px solid white;
}

.footer-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.social,
.social-btn {
  color: #feca79;
  padding-top: 30px;
}

.btn-quick-order {
  width: 100px;
  background-color: #824603;
  color: #FEFAFE;
}

.btn-quick-order:hover {
  color: #824603;
  border-color: white;
  background-color: white;
  }

.btn-order {
  width: 200px;
  background-color: #824603;
  color: #FEFAFE;
}

.developer {
  padding-left: 200px;

}

.footer-attention {
  font-size: 14px;
  width: 200px;
  padding-left: 240px;
  padding-top: 10px;
}